<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
.form-preview {
    /* display: block; */
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    padding: clamp(17px, 5%, 40px) clamp(17px, 7%, 50px);
    max-width: none;
    border-radius: 6px;
    /* box-shadow: 0 5px 25px rgba(34, 60, 47, 0.25); */
}
.form-preview,
.form-preview *{
    box-sizing: border-box;
}
.form-preview .preview-heading {
    width: 100%;
}
.form-preview .preview-heading h5{
    margin-top: 0;
    margin-bottom: 0;
}
.form-preview .preview-input-field {
    margin-top: 20px;
    width: 100%;
}
.form-preview .preview-input-field input {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 2px solid #e9e8e8;
    background-color: #fff;
    outline: none;
}
.form-preview .preview-input-field input {
    color: #000000;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}
.form-preview .preview-input-field input::placeholder {
    color: #000000;
    opacity: 1;
}

.form-preview .preview-input-field input:-ms-input-placeholder {
    color: #000000;
}

.form-preview .preview-input-field input::-ms-input-placeholder {
    color: #000000;
}
.form-preview .preview-submit-button {
    margin-top: 10px;
    width: 100%;
}
.form-preview .preview-submit-button button {
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 6px;
    line-height: 0px;
}
.form-preview .preview-submit-button button:hover {
    cursor: pointer;
}
</style>

<form data-v-3a89cb67=""
      action="https://api.follow.it/subscription-form/ZE9CeTdNaVUwWCt3Ykp4YmtqU3Jsd1k5dFQxdko0WUNTb3Z0N3Yvd0RRQW11dmJTOUdOMEtWdU1UWnZJWGcrQUJJYmtTUmJFRm1jaDdNWXlrYXhyR3pHYmVSNnduRzkrUnpkUXFIZjVhUnNTUldpa0E2QkhWWkpLNG5pUFhhV3F8Y2s4YnlTZjl1cHk5TmFLOU5meDQrd0pFR1hjVHlTVXdhVnNBVjhRZ2h0Zz0=/8"
      method="post"
>

<div data-v-3a89cb67="" class="form-preview" 
     style="background-color: rgb(255, 255, 255); position: relative;">
     <div data-v-3a89cb67="" class="preview-heading">

<h5 data-v-3a89cb67="" 
    style="text-transform: none !important; font-family: Montserrat; font-weight: bold; color: rgb(0, 0, 0); font-size: 16px; text-align: center;">
    Receba os posts por email:
</h5>
</div>

<div data-v-3a89cb67="" class="preview-input-field">
    <input data-v-3a89cb67="" type="email" name="email" required="required" 
           placeholder="endereço de email" spellcheck="false" 
           style="text-transform: none !important; font-family: Montserrat; font-weight: normal; color: rgb(0, 0, 0); font-size: 14px; text-align: center; background-color: rgb(255, 255, 255);">
</div>

<div data-v-3a89cb67="" class="preview-submit-button">
    <button data-v-3a89cb67="" type="submit" 
            style="text-transform: none !important; font-family: Montserrat; font-weight: bold; color: rgb(255, 255, 255); font-size: 16px; text-align: center; background-color: rgb(0, 0,0);">
    subscrever
    </button>
</div>
</div>
</form>