<div class="sticky-top sticky-top-offset">
    <h4 class="font-weight-bold spanborder"><span>Em destaque</span></h4>  
    <ol class="list-featured">				
        {% for post in site.posts %}
            {% if post.tags contains "destaque" %}
            <li class="mb-4">
            <span>
                <h6 class="font-weight-bold">
                    <a href="{{site.baseurl}}{{ post.url }}" class="text-dark">{{ post.title }}</a>
                </h6>
                <span class="d-block text-muted">
                    In <span class="catlist">
                    {% for category in post.categories %}
                    <a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
                    {% endfor %}
                    </span>
                </span>
            </span>
            </li>
            {% endif %}
        {% endfor %}   
    </ol>

    
    
    <h4 class="font-weight-bold spanborder"><span>Temas</span></h4>
    
    <!-- {% assign tags = site.tags | sort %}
    <ul class="cloud">
        {% for tag in tags %}
        {% if tag[0] != "destaque" and tag[0] != "top" %}
        <li style="font-size: {{ tag | last | size  |  times: 5 | plus: 90  }}%">{{ tag[0] | replace:'-', ' ' }}</li>
    </span>
        {% endif %}
        {% endfor %}
    </ul> -->
    
    <tagcloud>
        {% capture tags %}
        {% for tag in site.tags %}
            {% if tag[0] != "destaque" and tag[0] != "top" %}
                {{ tag[0] | replace:' ', '-' }}
            {% endif %}
        {% endfor %}
        {% endcapture %}
        
        {% assign sortedTags = tags %}
        <ul class="cloud">
            {% for st in sortedTags %}
            <li class="tag{{ site.tags[st].size }}">{{ st | tag_link }}</li>
            {% endfor %}
        </ul>
    </tagcloud>

</div> 