.linkpreview-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  min-height: 200px;
  border: 2px solid rgba(0,0,0,.1);
}

.linkpreview-body {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin-right: 20px;
}

.linkpreview-title a {
  color: inherit;
}
.linkpreview-description a {
  color: inherit;
}

.linkpreview-image {
  max-width: 180px;
}